<!-- Navigation
    ==========================================-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand page-scroll" href="#page-top" style="color: #e5a440;">Wakanda Foods</a> </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" id="menu_hover">
            <li><a style="color: #e5a440;" href="#about" class="page-scroll">Acerca de nosotros</a></li>
            <li><a style="color: #e5a440;" href="#restaurant-menu" class="page-scroll">Menu</a></li>
            <li><a style="color: #e5a440;" href="#portfolio" class="page-scroll">Galerias</a></li>
            <li><a style="color: #e5a440;" href="#team" class="page-scroll">Chefs</a></li>
            <li><a style="color: #e5a440;" href="#call-reservation" class="page-scroll">Contáctanos</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </nav>
    <!-- Header -->
    <header id="header">
      <div class="intro">
        <div class="overlay">
          <div class="container">
            <div class="row">
              <div class="intro-text">
                <h1 style="color: #e5a440;">Wakanda Foods</h1>
                <p>Víve el sabor afro</p>
                <a href="#about" id="btn_cultura_wakanda" class="btn btn-custom btn-lg page-scroll">Cultura Wakanda</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- About Section -->
    <div id="about">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 ">
            <div class="about-img"><img src="assets/img/about-wk.jpg" class="img-responsive" alt=""></div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div id="title_wakandafoods" class="about-text">
              <h2>Que es Wakanda Foods !!</h2>
              <hr style="background-color: #e5a440;">
              <p class="parrafo">Es un lugar exclusivo y único en donde encontrarás un espacio de identidad, orgullo, empoderamiento y
                apropiación étnica a través de la cultura gastronómica Colombo- Africana por medio de la cocina, además es
                un lugar íntimo que ofrece una experiencia única y especial, que a su vez genera tranquilidad y regocijo por
                su ambiente y el lugar en donde se encuentra ubicado.</p>
              <h3>Nuestros Chefs</h3>
              <p class="parrafo">En Wakanda Foods contamos con las mejores chefs desde cada área culinaria, es por esta razón que cada una
                desde sus saberes ancestrales, sus años de experiencia y sus conocimientos aportan excelencia, preparación y
                precisión en las múltiples recetas únicas y exclusivas que solo encontrarás en Wakanda Foods. Sus talentos
                innatos y su agilidad en la preparación de cada alimento, hacen que sea una experiencia irrepetible e
                indescriptible, ya que con cada platillo el cliente víve el sabor afro..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Restaurant Menu Section -->
    <div id="restaurant-menu">
      <div class="section-title text-center center">
        <div class="overlay">
          <h2>Menu</h2>
          <hr style="background-color: #e5a440;">
          <p id="parrafo_menu" class="parrafo">Somos una nueva experiencia gastronómica y cultural exclusiva; con toda la identidad. el orgullo y el sabor
            Colombo Africano.</p>
        </div>
      </div>
      <div class="container">
        <div class="row col-sm-offset-1">
          <h2 class="menu-section-title">Nuestros Platos Principales</h2>
          <div class="col-xs-12 col-sm-6">
            <div class="menu-section">
              <hr style="background-color: #e5a440;">
              <div class="menu-item">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/img/platos/plato_01.png" alt="Card image cap">
                  <div class="card-body">
                  </div>
                </div>
              </div>
              <div class="menu-item">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/img/platos/plato_02.png" alt="Card image cap">
                  <div class="card-body">
                  </div>
                </div>
              </div>
              <div class="menu-item">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/img/platos/plato_03.png" alt="Card image cap">
                  <div class="card-body">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="menu-section">
              <hr style="background-color: #e5a440;">
              <div class="menu-item">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/img/platos/plato_04.png" alt="Card image cap">
                  <div class="card-body">
                  </div>
                </div>
              </div>
              <div class="menu-item">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/img/platos/plato_05.png" alt="Card image cap">
                  <div class="card-body">
                  </div>
                </div>
              </div>
              <div class="menu-item">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/img/platos/plato_06.png" alt="Card image cap">
                  <div class="card-body">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Portfolio Section -->
    <div id="portfolio">
      <div class="section-title text-center center">
        <div class="overlay">
          <h2>Galería</h2>
          <hr style="background-color: #e5a440;">
          <p>Nos mueve la gastronomía y la cultura.</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
        </div>
        <div class="row">
          <div class="portfolio-items">
            <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="assets/img/portfolio/cultura2_large.jpg" title="Ampliar Imgen"
                    data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Ampliar Imgen</h4>
                    </div>
                    <img src="assets/img/portfolio/cultura2.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 dinner">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="assets/img/portfolio/cultura_1.jpg" title="Ampliar Imgen"
                    data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Ampliar Imgen</h4>
                    </div>
                    <img src="assets/img/portfolio/cultura_1.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="assets/img/portfolio/local_1.jpg" title="Ampliar Imgen"
                    data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Ampliar Imgen</h4>
                    </div>
                    <img src="assets/img/portfolio/local_1.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="assets/img/portfolio/cultura_3.jpg" title="Ampliar Imgen"
                    data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Ampliar Imgen</h4>
                    </div>
                    <img src="assets/img/portfolio/cultura_3.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 dinner">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="assets/img/portfolio/cultura_4.jpg" title="Ampliar Imgen"
                    data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Ampliar Imgen</h4>
                    </div>
                    <img src="assets/img/portfolio/cultura_4.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 lunch">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="assets/img/portfolio/galeria_1.png" title="Ampliar Imgen"
                    data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Ampliar Imgen</h4>
                    </div>
                    <img src="assets/img/portfolio/galeria_1.png" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 lunch">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="assets/img/portfolio/galeria_2.png" title="Ampliar Imgen"
                    data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Ampliar Imgen</h4>
                    </div>
                    <img src="assets/img/portfolio/galeria_2.png" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="assets/img/portfolio/galeria_2.png" title="Ampliar Imgen"
                    data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Ampliar Imgen</h4>
                    </div>
                    <img src="assets/img/portfolio/galeria_2.png" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 dinner">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="assets/img/portfolio/cultura_5.jpeg" title="Ampliar Imgen"
                    data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Ampliar Imgen</h4>
                    </div>
                    <img src="assets/img/portfolio/cultura_5.jpeg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Section -->
    <div id="team" class="text-center">
      <div class="overlay">
        <div class="container">
          <div class="col-md-10 col-md-offset-1 section-title">
            <h2>CONOCE A NUESTRAS CHEFS</h2>
            <hr style="background-color: #e5a440;">
            <p style="text-align: justify;">En Wakanda Foods contamos con las mejores chefs desde cada área culinaria, es por esta razón que cada una desde sus saberes ancestrales, sus años de experiencia y sus conocimientos aportan excelencia, preparación y precisión en las múltiples recetas únicas y exclusivas que solo encontrarás en Wakanda Foods. Sus talentos innatos y su agilidad en la preparación de cada alimento, hacen que sea una experiencia irrepetible e indescriptible, ya que con cada platillo el cliente víve el sabor afro..</p>
          </div>
          <div id="row">
            <div class="col-md-4 team">
              <div class="thumbnail">
                <div class="team-img"><img src="assets/img/team/01.jpg" alt="..."></div>
                <div class="caption">
                  <h3>Mike Doe</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 team">
              <div class="thumbnail">
                <div class="team-img"><img src="assets/img/team/_02.jpeg" alt="..."></div>
                <div class="caption">
                  <h3>Luzma Perea</h3>
                  <p>Una chef con mucho amor, pasion y entrega por la gastronomía afrocolombiana, la cual nos inspira cada día mas a seguir imnovando a cocinar con cultura</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 team">
              <div class="thumbnail">
                <div class="team-img"><img src="assets/img/team/_03.jpg" alt="..."></div>
                <div class="caption">
                  <h3>María Mosquera</h3>
                  <p>Una chef con una sonrisa maravillosa la cual nos transmite una excelente energía y amor por lo que le apasiona.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Call Reservation Section -->
    <div style="background: rgb(229, 164, 64);" id="call-reservation" class="text-center">
      <div class="container">
        <h2>Realiza tu reserva al siguiente número</h2>
        <strong id="numro_reservas">313-543-82-56</strong>
      </div>
    </div>
    <!-- Contact Section -->
    <div id="contact" class="text-center">
      <div class="container">
        <div class="section-title text-center">
          <h2>Contactanos</h2>
          <hr style="background-color: #e5a440;">
          <p>Dejanos tus datos y escribenos un corto mensaje, pronto nos comunicarémos contigo</p>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="name" class="form-control" placeholder="Nombre" required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea name="message" id="message" class="form-control" rows="4" placeholder="Mensaje" required></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div id="success"></div>
            <button  style="background: #262626;" type="submit" class="btn btn-custom btn-lg">Enviar Mensaje</button>
          </form>
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="redes_sociales" class="container-fluid text-center copyrights">
        <div class="col-md-8 col-md-offset-2">
          <div class="social">
            <h4 style="color: #e5a440;">Siguenos en nuestras redes sociales</h4>
            <ul>
              <li><a href="#"><i style="color: #e5a440;" class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i style="color: #e5a440;" class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <p>&copy; 2016 Touché. All rights reserved. Designed by <a href="http://www.templatewire.com"
              rel="nofollow">TemplateWire</a></p>
        </div>
      </div>
    </div>
