#menu_hover li a:hover {
  color: #b86208 !important;
}
#btn_cultura_wakanda {
  background-color: #323232;
  border-bottom: 2px solid #777777;
  /*Below are two new line which enable opacity*/
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.plato {
  height: 230px;
}

#restaurant-menu img {
  box-shadow: none;
  height: 390px;
  border-radius: 5px;
}

#portfolio img {
  width: 100%;
  height: 400px;
}
@media only screen and (max-width: 600px) {
  #restaurant-menu {
  margin-left: 56px;
  }
  #portfolio {
    text-align: center;
    margin-left: 72px;
  }

}


