#menu_hover li a:hover {
  color: #b86208 !important;
}
#btn_cultura_wakanda {
  background-color: #323232;
  border-bottom: 2px solid #777777;
  /*Below are two new line which enable opacity*/
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.plato {
  height: 230px;
}

#restaurant-menu img {
  box-shadow: none;
  height: 390px;
  border-radius: 5px;
}

#portfolio img {
  width: 100%;
  height: 400px;
}
.parrafo {
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  #restaurant-menu {
    margin-left: 8em;
  }
  #portfolio {
    text-align: center;
    margin-left: 72px;
  }
  #title_wakandafoods h2 {
    display: inline-block;
    font-size: 20px;
    margin-left: 90px;
    margin-top: 15px;
  }

  #title_wakandafoods h3 {
    display: inline-block;
    font-size: 20px;
    margin-left: 120px;
    margin-top: 15px;
  }
  #title_wakandafoods hr {
    display: inline-block;
    margin-left: 12em;
  }

  #title_wakandafoods p {
    display: inline-block;
    margin-left: 5em;
  }

  #about img {
    margin-left: 4em;
  }
  #parrafo_menu {
    padding: 1em;
  }
  .menu-item img {
    margin-left: -47px;
  }

  #team {
    width: 120% !important;
    margin-left: 22px;
  }
  #call-reservation{
    margin-left: 22px;
    width: 481px;
  }
  #numro_reservas {
    font-size: 26px;
  }
  #contact{
    margin-top: 9px;
    margin-left: 24px;
    width: 120%;
  }
  #redes_sociales{
    width: 117%;
    margin-left: 25px;
  }
}
